extends layout

block content
  h1= title
  p Welcome to #{title}
  ul
    each message in messages
      li #{message.text}, #{message.user}, #{message.added}
  button(type="button") 
     a(href="/new") Add New Message 